{% extends "layout.html" %} {% block content %}
<h1>List of Available Books</h1>
{% for book in book_list %}
<div>
  <b>Book ID:</b> {{ book['book_id'] }}<br />
  <b>Title:</b> {{ book['title'] }}<br />
  <b>Author:</b> {{ book['author'] }}<br />
  <b>Genre:</b> {{ book['genre'] }}<br />
  {% if book['rating'] %}
  <b>Rating:</b> {{ book['rating'] }}<br />
  {% else %}
  <b>Rating:</b> Not Rated<br />
  {% endif %}
  <b>Released Year:</b> {{ book['release_year'] }}<br />
</div>
<br />
{% endfor %} {% endblock content %}
