<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Download - Library Management System</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari:wght@200&family=Noto+Sans+Kannada:wght@200&family=Noto+Sans+Malayalam:wght@200&family=Noto+Serif+Tamil:wght@200&family=Noto+Sans+Telugu:wght@200&display=swap" rel="stylesheet">
    
    <style>
        body {
          font-family: '{{ font_lang }}', sans-serif;
          font-size: large;
          font-weight: 100;
        } 
      </style>

  </head>
<body>
    <div class="card">
        <div class="card-body">
            <center><b>{{ book.title }}</b></center>
            <center>By - <em>{{ book.author }}</em></center>
            <hr />
            <br />
            <div>{{ book.content }}</div>
        </div>
    </div>
</body>
</html>

    
