{% extends "layout.html" %}{% block content %}
<h1>Feedback of {{ book_name }} book from user {{ student_name }}</h1>

<div class="container">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
        <legend class="border-bottom mb-4">{{ legend }}</legend>
        <div>
            {{ form.skipper.label }}: 
            <button type="button" id="skipper-btn" onclick="toggleSkip()">{% if form.skipper.data %}Include Feedback{% else %}Skip Feedback{% endif %}</button>
            <input type="hidden" name="skipper" id="skipper-input" value="{{ form.skipper.data }}">
        </div>
        <div class="form-group">
            {{ form.feedback.label(class="form-control-label") }}
            {% if form.feedback.errors %}
            {{ form.feedback(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.feedback.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
                {{ form.feedback(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
        </fieldset>
    </form>
  </div>

   <script>
        function toggleSkip() {
            var skipperInput = document.getElementById("skipper-input");
            var skipperBtn = document.getElementById("skipper-btn");
            if (skipperInput.value === "True") {
                skipperInput.value = "False";
                skipperBtn.textContent = "Skip Feedback";
            } else {
                skipperInput.value = "True";
                skipperBtn.textContent = "Include Feedback";
            }
        }
    </script>

{% endblock content %}
