{% extends "layout.html" %} {% block content %}
<h1>Pending Requests</h1>
{% for request in requests %}
<div class="container">
   <div>
        <button type="button" class="btn btn-secondary btn-sm m-1" data-toggle="modal" data-target="#accept{{ request['service_name'] }}RequestModal">Accept Service Request</button>
        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#reject{{ request['service_name'] }}RequestModal">Reject request</button>
    </div>
    
    <div class="modal fade" id="accept{{ request['service_name'] }}RequestModal" tabindex="-1" role="dialog" aria-labelledby="approveRequestLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="approveRequestModalLabel">Accept Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <p style="margin-left: 5px;">Accept request <b>{{ request['service_name'] }}</b> from customer <b>{{ request['customer_name'] }}</b>?</p>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{ url_for('main.accept_request', request_id=request['request_id'], service_professional_id=current_user.id) }}" method="POST">
                <input type="submit" class="btn btn-danger" value="Accept" />
                </form>
            </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="reject{{ request['request_id'] }}RequestModal" tabindex="-1" role="dialog" aria-labelledby="disapproveRequestLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="disapproveRequestModalLabel">Reject Request?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <p style="margin-left: 5px;">Reject request for service <b>{{ request['service_name'] }}</b> from customer <b>{{ request['customer_name'] }}</b>?</p>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{ url_for('main.reject_request', request_id=request['request_id'], service_professional_id=current_user.id) }}" method="POST">
                <input type="submit" class="btn btn-danger" value="Reject" />
                </form>
            </div>
            </div>
        </div>
    </div>
    
   <b>Service Name: </b>{{ request['service_name'] }}<br />
   <b>Customer Name: </b>{{ request['customer_name'] }}<br />
   <b>Date of Request: </b>{{ request['date_of_request'] }}<br />
   <b>Date of Completion: </b>{{ request['date_of_completion'] }}<br />
   <br/>
   </div>
{% endfor %}
{% endblock content %}


