{% extends "layout.html" %} {% block content %}
<h1>Section Details</h1>
<div class="container">
  {% if current_user.role == 'librarian' %}
    <div>
        <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('update_section', section_id=section.id) }}">Update Section</a>
        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete Section</button>
        <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('add_book', section_id=section.id) }}">Add a Book to this section</a>
    </div>
  {% endif %}
  <b>Added by Librarian:</b> {{ librarian_username }}<br />
  <b>Date Created:</b> {{ section['date_created'].strftime("%d-%m-%Y") }}<br />
  <b>Section Name:</b> {{ section['name'] }}<br />
  <b>Description:</b> {{ section['description'] }}<br />
</div>
<br />
{% if book_list|length > 0 %}
<div class="container">
    <h3>Books in {{ section['name'] }} Section</h3>
    {% for book in book_list %}
    <div class="container">
        {% if current_user.role == 'librarian' %}
    <div>
        <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('update_book', section_id=section.id, book_id=book.id) }}">Update This Book</a>
        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#delete{{ book.id }}BookModal">Delete This Book</button>
    </div>
    <!-- Delete Modal -->
    <div class="modal fade" id="delete{{ book.id }}BookModal" tabindex="-1" role="dialog" aria-labelledby="deleteBookLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteBookModalLabel">Delete Book {{ book.title }}?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="{{ url_for('delete_book', section_id=section.id, book_id=book.id) }}" method="POST">
           <input type="submit" class="btn btn-danger" value="Delete" />
        </form>
      </div>
    </div>
  </div>
</div>
  {% else %}
  {% if not book.content %}
    <div>
        <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('request_book', section_id=section.id, book_id=book.id) }}">Request This Book</a>
    </div>
    {% endif %}
  {% endif %}
        <b>Title: </b>{{ book['title'] }}<br />
        <b>Author: </b>{{ book['author'] }}<br />
        <b>Language: </b>{{ book['lang'] }}<br />
        {% if book.content %}
            {% if current_user.role == 'student' %}
            <button type="button" class="btn btn-secondary btn-sm m-1" data-toggle="modal" data-target="#t{{ book['id'] }}two">Download pdf</button><br/>
            {% endif %}
        <b>Content: </b>
        <div class="card"  style="height: 300px; overflow-y: auto; overflow-x: auto;">
            <div class="card-body">
                <center><b>{{ book.title }}</b></center>
                <center>By - <em>{{ book.author }}</em></center>
                <hr />
                {{ book['content'] }}
            </div>
        </div>
        {% endif %}
        <b>Rating: </b>{{ book['rating'] }}<br />
        <b>Released year: </b>{{ book['release_year'].strftime("%Y") }}<br />
    </div><br/>
    <div class="modal fade" id="t{{ book['id'] }}two" tabindex="-1" role="dialog" aria-labelledby="one" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="oneTitle">Download PDF?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <p style="margin-left: 5px;">Download <b>{{ book.title }}</b> from library? Proceed only after payment.</p>
            <p>Note: Only <b><em>English, Tamil, Hindi, Telugu, Kannada, and, Malayalam</em></b> language fonts are available for pdf.</p>
            <br />
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-secondary" role="button" href="{{ url_for('download_book', book_id=book.id) }}" target="_blank">Download</a>
                </div>
            </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Section?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <p>Warning! Deleting the Section will delete all its books!</p>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="{{ url_for('delete_section', section_id=section.id) }}" method="POST">
           <input type="submit" class="btn btn-danger" value="Delete" />
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
