{% extends "layout.html" %} {% block content %}
<h1>My Issued Books</h1>
{% for book in issued_books %}
   <div class="container">
     <button type="button" class="btn btn-secondary btn-sm m-1" data-toggle="modal" data-target="#o{{ book[-1] }}one">Return Book</button>
     <button type="button" class="btn btn-secondary btn-sm m-1" data-toggle="modal" data-target="#t{{ book[-1] }}two">Download pdf</button><br/>

   <b>Title: </b>{{ book[0].title }}<br />
   <b>Author: </b>{{ book[0].author }}<br />
   <b>Language: </b>{{ book[0].lang }}<br />
   <b>Genre: </b>{{ book[2] }}<br />
   <b>Return date: </b>{{ book[1].strftime("%d-%m-%Y") }}<br />
   <b>Content: </b>
        <div class="card"  style="height: 300px; overflow-y: auto;">
            <div class="card-body">
                <center><b>{{ book[0].title }}</b></center>
                <center>By - <em>{{ book[0].author }}</em></center>
                <hr />
                {{ book[0]['content'] }}
            </div>
        </div>
        <br />
   <b>Rating: </b>{{ book[0].rating }}<br />
   <b>Release Year: </b>{{ book[0].release_year.strftime("%Y")  }}<br />
   <br/>
   </div>

   <div class="modal fade" id="o{{ book[-1] }}one" tabindex="-1" role="dialog" aria-labelledby="one" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="oneTitle">Return Book?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <p style="margin-left: 5px;">Return Book <b>{{ book[0].title }}</b> to Library?</p>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{ url_for('return_book', issue_id=book[-1]) }}" method="POST">
                <input type="submit" class="btn btn-danger" value="Return" />
                </form>
            </div>
            </div>
        </div>
    </div>

     <div class="modal fade" id="t{{ book[-1] }}two" tabindex="-1" role="dialog" aria-labelledby="one" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="oneTitle">Download PDF?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <p style="margin-left: 5px;">Download <b>{{ book[0].title }}</b> from library? Proceed only after payment.</p>
            <p>Note: Only <b><em>English, Tamil, Hindi, Telugu, Kannada, and, Malayalam</em></b> language fonts are available for pdf.</p>
            <br />
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="{{ url_for('download_book', book_id=book[0].id) }}" class="btn btn-secondary" role="button" target="_blank">Download</a>
            </div>
            </div>
            </div>
        </div>
    </div>

    
{% endfor %}
{% endblock content %}
