{% extends "layout.html" %} {% block content %}
<h1>All Service Professionals</h1>
{% for professional in service_professionals %}
<div class="container">
   <b>Customer Name: </b>{{ professional['username'] }}<br />
   <b>Email: </b>{{ professional['email'] }}<br />
   <b>Description: </b>{{ professional['description'] }}<br />
   <b>Experience: </b>{{ professional['experience'] }}<br />
   <b>Date Created: </b>{{ professional['date_created'].strftime("%d-%m-%Y") }}<br />
   <br/>
   </div>
{% endfor %}
{% endblock content %}


